// Bar SCSS
// --------
.bar {
   background-color: $dbg;
   padding:          0 2rem 0 2rem;
   font-size:        1rem;
}

// General
.barStatusIcon {
   font-family: $icons;
   font-size:   1.2rem;
}

// Clock
.barClock {
   color:       $mag;
   font-weight: bold;
}

// Volume Widget
.barVolume {
   color: $ylw;
}

// Network Widget
.barNetwork {
   color: $grn;
}

// Bluetooth Widget
.barBluetooth {
   color: $blu;
}

// Workspaces Widget
.ws {
   .inactive {
      color:       $blk;
   }
   .occupied {
      color:       $gry;
      font-weight: bold;
   }
   .active {
      color:       $red;
      font-weight: bold;
   }
}

// Application Search button.
.barRofi {
   color:            $wht;
   background-color: $nbg;
   border-radius:    $radius;
   padding:          0.6rem 1.2rem 0.6rem 1.2rem;
   &:hover {
      color:            $nbg;
      background-color: $wht;
   }
}

// Dashboard Button.
.barDashboard {
   color:            $cya;
   font-weight:      bold;
}
